*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #7efff5;
    height: 150px;
    text-align: center;
}
.main_footer{
    overflow: hidden;
} 
.right_con{
  height: 450px;
  width: 50%;
  background-color: orange;
  float: left;
  overflow: hidden;
  text-align: center;


}
.left_con{
    height: 450px;
  width:50%;
  background-color: steelblue;
  float: left; 
  text-align: center;

}
.content1{
    background-color: aqua;
    width: 50%;
    float: left;
}
.content2{
    background-color: rgba(69, 9, 207, 0.829);
    width: 50%;
    float: left;
}
.footer{
    background-color: rgb(187, 71, 255);
    height: 100px;
    text-align: center;
}
